<% if flash[:errors] %>
    <ul>
        <% flash[:errors].each do |error| %>
            <li><%= error %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for @artist do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :title %>
    <%= f.text_field :title %><br>

    <%= f.label :age %>
    <%= f.number_field :age %><br>

    <%= f.submit %>  
<% end %>