<h3>Artist Info</h3>

<strong><p>Name: </strong><%= @artist.name %></p>
<strong><p>Title: </strong><%= @artist.title %></p>
<strong><p>Age: </strong><%= @artist.age %></p>

<% if !@artist.posts.empty? %>
    <strong><p>Instruments I play: </strong>
    <ul>
        <% @artist.posts.each do |post| %>
            <li><%= post.instrument.name %></li>
        <% end %>
    </ul>
<% end %>
<%= link_to 'Edit this artist', edit_artist_path(@artist) %>