<% if flash[:errors] %>
    <ul>
        <% flash[:errors].each do |error| %>
            <li><%= error %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for @post do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :artist_id%>
    <%= f.collection_select :artist_id, Artist.all, :id, :name %><br>

    <%= f.label :instrument_id %>
    <%= f.collection_select :instrument_id, Instrument.all, :id, :name %><br>

    <%= f.submit %>
<% end %>